<companyuser-app-dashboard-header></companyuser-app-dashboard-header>

<div class="br-mainpanel">

  <div class="br-pageheader">
    <nav class="breadcrumb pd-0 mg-0 tx-12">
      <a class="breadcrumb-item" routerLink="/company">Dashboard</a>
      <a class="breadcrumb-item active">Reports</a>
      <a class="breadcrumb-item">Consumption History</a>
    </nav>
  </div>

  <div class="br-pagetitle">
    <i class="icon ion-document-text"></i>
    <div>
      <h4>Consumption History</h4>
      <p class="mg-b-0">
        Lorem Ipsum is simply dummy text of the printing and typesetting
      </p>
    </div>
  </div>

  <div class="br-pagebody">
    <div class="br-section-wrapper pd-10">
      <companyuser-app-table-filter 
      [dateFromFilter]="true" 
      [dateToFilter]="true" 
      [basicFilter]="false" 
      (onFiltered)="tableFilter = $event; fetch()">
    </companyuser-app-table-filter>
      <div class="mt-3">
          <div class="mb-3 text-right">
            <button
              [disabled]="!anyRowsChecked() || !this.creditListing?.length"
              (click)="exportData()"
              class="btn btn-info mt-3 mr-3"
            >
              Export
            </button>
          </div>
  
        <div class="table-responsive mt-3">
          <table class="w-100 c-table">
            <thead>
              <tr>
                <th class="">
                  <label for="sl_all">
                    <input
                      type="checkbox"
                      name="sl_all"
                      id="sl_all"
                      [attr.checked]="rowCheckedAll == true ? 'checked' : null"
                      [value]="rowCheckedAll"
                      (change)="allRowsCheckboxChecked($event)"
                    />
                    SL No
                  </label>
                </th>
                <!-- <th class="text-center"></th> -->
                <th class="text-center">Date</th>
                <th class="text-center">Particulars</th>
                <th class="text-center"></th>
                <th class="text-center">Addition</th>
                <th class="text-center">Deduction</th>
                <th class="text-center">Balance</th>
                <th class=""></th>
              </tr>
            </thead>
            <tbody>
              <!-- <ng-container *ngFor="let row of rows"> -->
                <tr
                  *ngFor="
                    let item of creditListing;
                    let i = index
                  "
                >
                  <td class="">
                    <label
                      class="align-items-center"
                      [for]="'checkrow-' + item?._id"
                    >
                      <input
                        type="checkbox"
                        class="mr-2"
                        [attr.checked]="item?.checked == true ? 'checked' : null"
                        id="checkrow-{{ item?._id }}"
                        [attr.data-checkbox-id]="item?._id"
                        (click)="rowCheckBoxChecked($event, item)"
                      />
                      {{ item?.sl_no }}
                    </label>
                  </td>
                  <!-- <td class="text-center"></td> -->
                  <td class="text-center">
                    {{ item?.created_at | date : "dd/MM/YYYY" }}
                  </td>
                  <td class="text-center">{{ item?.particular }}</td>
                  <td class="text-center">{{ item?.inv_id ?? "N/A" }}</td>
                  <td class="text-center">{{ (item?.credited_amnt | number : "1.2-2") ?? "" }}</td>
                  <td class="text-center">{{ (item?.deduct_amnt | number : "1.2-2") ?? "" }}</td>
                  <td class="text-center">{{ (item?.credit_balance | number : "1.2-2") ?? "" }}</td>
  
                  <td class="text-center">
                    <button
                      class="btn btn-primary btn-icon mx-1"
                      data-toggle="tooltip"
                      (click)="viewData(item)"
                      data-placement="top"
                      title="View"
                    >
                      <div style="width: 25px; height: 25px">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                      </div>
                    </button>
                  </td>
                </tr>
              <!-- </ng-container> -->
              
              <tr *ngIf="!creditListing?.length">
                <td colspan="100%"
                    class="text-center"
                    style="background-color: #f7f7f7">
                  No records found
                </td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
  </div>

  <button
    id="historymmodalbutton"
    [hidden]="true"
    data-toggle="modal"
    data-target="#historymodal"
  ></button>
  <div id="historymodal" tabindex="-1" class="modal fade effect-slide-in-right">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
      <div class="modal-content tx-size-sm">
        <div class="modal-header pd-x-20">
          <h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold"></h6>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body pd-20">
          <div class="">
            <table
              class="table display responsive nowrap wd-100p employee-table"
            >
              <!-- <tr>
                        <td colspan="3">

                        </td>
                    </tr>     -->
              <ng-container
                *ngIf="
                  creditDetails?.type == 'credit_coupon' ||
                  creditDetails?.type == 'credit'
                "
              >
                <iframe
                  frameBorder="0"
                  *ngIf="creditDetails?.file_path != ''"
                  [src]="creditDetails?.file_path"
                  style="height: 800px; width: 100%; border: none"
                ></iframe>
              </ng-container>
              <ng-container *ngIf="creditDetails?.type == 'consumed'">
                <tr>
                  <td></td>
                  <td></td>
                  <td>Credits</td>
                </tr>
                <tr>
                  <td>Plan Rental</td>
                  <td>{{ creditDetails?.plan }}</td>
                  <td>{{ creditDetails?.credit_balance ?? 0 }}</td>
                </tr>
                <tr>
                  <td>Package</td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>Free Employees</td>
                  <td>{{ creditDetails?.total_free_employee }}</td>
                  <td>---</td>
                </tr>
                <tr>
                  <td>Free Sub Admin</td>
                  <td>{{ creditDetails?.total_free_staff }}</td>
                  <td>---</td>
                </tr>
                <tr>
                  <td>Additional Employess</td>
                  <td>{{ creditDetails?.total_additional_employee }}</td>
                  <td>{{ creditDetails?.total_employee_cost ?? 0 }}</td>
                </tr>
                <tr>
                  <td>Additional Sub-Admin</td>
                  <td>{{ creditDetails?.total_additional_staff }}</td>
                  <td>{{ creditDetails?.total_staff_cost ?? 0 }}</td>
                </tr>
              </ng-container>
            </table>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn text-uppercase btn-secondary tx-size-xs"
            data-dismiss="modal"
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
  <companyuser-app-dashboard-footer></companyuser-app-dashboard-footer>
</div>
