<router-outlet></router-outlet>

<div id="image-viewer-modal" tabindex="-1" class="modal fade animated fadeInLeftBig">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content bd-0">
            <div class="modal-body pd-0">
                <div class="row flex-row-reverse no-gutters">
                    <div class="col-lg-12">
                        <button style="position: absolute; color: white; right: 0;" type="button" class="close mg-t-15 mg-r-20" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>

                        <div>
                            <img src="" alt="" id="image-src" class="w-100">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
