<admin-app-dashboard-header></admin-app-dashboard-header>

<div class="br-mainpanel">
  <div class="br-pageheader">
    <nav class="breadcrumb pd-0 mg-0 tx-12">
      <a class="breadcrumb-item" routerLink="/admin">Dashboard</a>
      <a class="breadcrumb-item">Landing-Page</a>
      <a class="breadcrumb-item active">Pages</a>
    </nav>
  </div>

  <div class="br-pagetitle">
    <i class="icon icon ion-ios-home"></i>
    <div>
      <h4>Landing Page Config</h4>
      <p class="mg-b-0">Add Pages Title & Descriptions</p>
    </div>
  </div>

  <div class="br-pagebody pd-x-20 pd-sm-x-30" id="letterwriting-submit-section">
    <div class="br-section-wrapper">
      <h6 class="br-section-label mb-3">Add Page</h6>

      <div class="form-layout form-layout-6">
        <form [formGroup]="pageForm">
          <div class="d-flex">
            <div class="col-6 p-0">
              <div class="row no-gutters">
                <div class="col-6 col-sm-6">
                  Page Title&nbsp;
                  <span
                    *ngIf="
                      Global.isValidationAvailable(
                        pageForm,
                        'page_title',
                        'required'
                      )
                    "
                    class="text-danger"
                    >*</span
                  >
                </div>
                <div class="col-6 col-sm-6">
                  <input
                    class="form-control"
                    formControlName="page_title"
                    type="text"
                    (change)="!editActionId ? generatePageSlug() : null"
                  />
                  <p
                    class="error-element"
                    *ngIf="
                      pageForm.controls.page_title.hasError('required') &&
                      pageForm.controls.page_title.touched
                    "
                  >
                    This field is required
                  </p>
                </div>
              </div>
            </div>
            <div class="col-6 p-0">
              <div class="row no-gutters">
                <div class="col-3 col-sm-3">Page Slug</div>
                <div class="col-9 col-sm-9">
                  <input
                    style="background-color: transparent"
                    readonly
                    class="form-control"
                    formControlName="page_slug"
                    type="text"
                  />
                  <p
                    class="error-element"
                    *ngIf="
                      pageForm.controls.page_title.hasError('required') &&
                      (pageForm.controls.page_title.dirty ||
                        pageForm.controls.page_title.touched)
                    "
                  >
                    This field is required
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="row no-gutters">
            <div class="col-3 col-sm-3">Page Image</div>
            <div class="col-9 col-sm-9">
              <input
                class="form-control"
                formControlName="page_img"
                type="file"
                accept="image/*"
                (change)="onFileChanged($event, pageForm, 'img_path')"
              />
            </div>
          </div>
          <div class="row no-gutters">
            <div class="col-3 col-sm-3">Description</div>
            <div class="col-9 col-sm-9">
              <textarea
                class="form-control"
                formControlName="page_content"
                rows="3"
                cols="100%"
              ></textarea>
            </div>
          </div>

          <div class="row no-gutters bd-1">
            <div class="col-12 col-sm-12">
              <button
                class="btn btn-info"
                (click)="createPage($event)"
                *ngIf="!editActionId"
              >
                <span>Submit {{ editActionId }}</span>
              </button>
              <div *ngIf="editActionId">
                <button
                  type="button"
                  (click)="cancelPageUpdation()"
                  class="btn btn-danger mg-r-5"
                >
                  <span>Cancel</span>
                </button>
                <button
                  type="submit"
                  (click)="updatePage($event)"
                  class="btn btn-info"
                >
                  <span>Update Page</span>
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <!-- <div class="bg-gray-100 bd pd-y-20 pd-x-20">
        <form [formGroup]="pageForm">
          <div class="form-row row flex-wrap align-items-center">
            <div class="col-sm-6 col-6 form-group">
              <input
                type="text"
                class="form-control"
                placeholder="Page Heading"
                formControlName="page_title"
              />
            </div>
            <div class="col-6 col-sm-6 form-group">
              <input
                class="form-control"
                formControlName="page_img"
                type="file"
                accept="image/*"
              />
            </div>

            <div class="col-sm-12 col-12 form-group">
              <textarea
                cols="30"
                rows="10"
                placeholder="Description"
                class="form-control"
                formControlName="description"
              ></textarea>
            </div>

            <div class="col-sm-12 col-12 text-center">
              <ng-container>
                <button
                  type="submit"
                  class="submit-block btn btn-info"
                  (click)="createPage($event)"
                >
                  <span>Submit</span>
                </button>
              </ng-container>
            </div>
          </div>
        </form>
      </div> -->
    </div>
    <div class="br-section-wrapper mt-5">
      <h6 class="br-section-label mb-1 mt-1">Pages</h6>
      <div class="table-wrapper">
        <table class="table display responsive nowrap">
          <thead>
            <tr>
              <th>SL</th>
              <th>Image</th>
              <th>Title</th>
              <th>Slug</th>
              <!-- <th>Status</th> -->
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let page of pagesList; let i = index">
              <td>{{ "#" + (i + 1) }}</td>
              <td>
                <img
                  class="img-thumbnail"
                  style="max-width: 75px"
                  [src]="Global.BACKEND_URL + '/' + page?.page_img"
                />
              </td>
              <td>{{ page?.page_title | titlecase }}</td>
              <td>{{ page?.page_slug }}</td>
              <!-- <td>
                <div class="br-toggle br-toggle-rounded br-toggle-primary" [class.on]="page?.status === 'active'" id="policy-last-day-of-month" (click)="updatePageStatus(page, page?.status)" >
                  <div class="br-toggle-switch"></div>
              </div>
              </td> -->
              <!-- <td>{{ page?.status | titlecase}}</td> -->
              <td>
                <div style="width: 25px; height: 25px">
                  <i
                    class="fa fa-pen pen-icon"
                    (click)="setPageFormValue(page)"
                  ></i>
                </div>
                <!-- <li  class="nav dropdown pointer-cursor">
                  <i
                    href="#"
                    data-toggle="dropdown"
                    aria-hidden="true"
                    class="fa fa-ellipsis-v "
                  ></i>
                  <ul class="dropdown-menu">
                    <li (click)="setPageFormValue(page)">
                      <a class="dropdown-item pointer-cursor">Update</a>
                    </li>

                    <li>
                      <a *ngIf="page?.status === 'inactive'" class="dropdown-item pointer-cursor">Active</a>
                      <a *ngIf="page?.status === 'active'" class="dropdown-item pointer-cursor">InActive</a>
                    </li>
                  </ul>
                </li> -->
              </td>
            </tr>
            <tr *ngIf="!pagesList.length">
              <td
                colspan="100%"
                class="text-center"
                style="background-color: #f7f7f7"
              >
                No records found
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <admin-app-dashboard-footer></admin-app-dashboard-footer>
</div>
