<companyuser-app-dashboard-header></companyuser-app-dashboard-header>

<div class="br-mainpanel">
  <div class="br-pageheader">
    <nav class="breadcrumb pd-0 mg-0 tx-12">
      <a class="breadcrumb-item" routerLink="/company">Dashboard</a>
      <a class="breadcrumb-item active">Revision Management</a>
      <a class="breadcrumb-item">Run</a>
    </nav>
  </div>

  <div class="br-pagetitle">
    <i class="icon ion-document-text"></i>
    <div>
      <h4>Run Revision/Arrear</h4>
      <!-- <p class="mg-b-0">
        Lorem Ipsum is simply dummy text of the printing and typesetting
      </p> -->
    </div>
  </div>

  <div class="br-pagebody">
    <div class="br-section-wrapper pd-10">
      <div
        class="card bd-0"
        *ngIf="reportGenerated == false; else arrearReportTemplate"
      >
        <companyuser-app-table-filter
          [isClient]="false"
          (onFiltered)="fetchEmployees({ page: 1, options:$event })"
        ></companyuser-app-table-filter>
        <!-- <div class="card-header">
          <div class="row">
            <div class="col-12">
              <form [formGroup]="filterForm">
                <div class="row align-items-end">
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-sm-3 col-12 mb-3">
                        <ngx-select-dropdown
                          formControlName="department"
                          [options]="departmentMaster"
                          class="form-control p-1"
                          [config]="{
                            search: true,
                            placeholder: 'Select Department *'
                          }"
                          [multiple]="true"
                        ></ngx-select-dropdown>
                      </div>

                      <div class="col-sm-3 col-12 mb-3">
                        <ngx-select-dropdown
                          formControlName="designation"
                          [options]="designationMaster"
                          class="form-control p-1"
                          [config]="{
                            search: true,
                            placeholder: 'Select Designation *'
                          }"
                          [multiple]="true"
                        ></ngx-select-dropdown>
                      </div>

                      <div class="col-sm-3 col-12 mb-3">
                        <ngx-select-dropdown
                          formControlName="branch"
                          [options]="branchMaster"
                          class="form-control p-1"
                          [config]="{
                            search: true,
                            placeholder: 'Select Branch *'
                          }"
                          [multiple]="true"
                        ></ngx-select-dropdown>
                      </div>

                      <div class="col-sm-3 col-12 mb-3">
                        <ngx-select-dropdown
                          formControlName="hod"
                          [options]="hodMaster"
                          class="form-control p-1"
                          [config]="{
                            search: true,
                            placeholder: 'Select HOD *'
                          }"
                          [multiple]="true"
                        ></ngx-select-dropdown>
                      </div>

                      <div class="col-sm-3 col-12 mb-3">
                        <button
                          (click)="fetchEmployees({ page: 1 })"
                          type="submit"
                          class="btn btn-info pd-y-13 pd-x-20 bd-0 tx-uppercase tx-11 tx-spacing-2 btn-block"
                          [disabled]="!filterForm.valid"
                        >
                          Filter
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div> -->

        <!-- <div class="col-sm-3 col-12 mb-3">
                                    <ngx-select-dropdown formControlName="month" [options]="monthMaster" class="form-control p-1" [config]="{search:true, placeholder: 'Select Month *'}"></ngx-select-dropdown>
                                </div> -->

        <!-- <div class="col-sm-3 col-12 mb-3">
                                    <ngx-select-dropdown formControlName="year" [options]="yearMaster" class="form-control p-1" [config]="{search:true, placeholder: 'Select Year *'}"></ngx-select-dropdown>
                                </div> -->
        <div class="card-body px-0 bd-t-0 rounded-bottom">
          <app-custom-tableoption
            (onFilterChanged)="
              fetchEmployees({
                page: 1,
                options: $event,
                tableLengthChanged: true
              })
            "
            [searchable]="true"
          ></app-custom-tableoption>

          <div class="table-responsive mb-3">
            <table
              class="table nowrap dataTable dtr-inline"
              style="width: 100%"
            >
              <thead class="">
                <tr>
                  <th class="text-center">
                    <input
                      type="checkbox"
                      [value]="rowCheckedAll"
                      (change)="allRowsCheckboxChecked($event)"
                    />
                  </th>
                  <th>Revision Run Status</th>
                  <th>EmpID</th>
                  <th>Name</th>
                  <th>Gross Salary</th>
                  <th>Salary Template</th>
                  <th>Policy Package</th>
                  <th>With Effect From</th>
                  <th>Revision Month</th>
                  <th>Revision Year</th>
                  <th>Revision Count</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let employee of employees; let i = index">
                  <td class="text-center">
                    <input
                      type="checkbox"
                      [attr.checked]="
                        employee.checked == true ? 'checked' : null
                      "
                      id="checkrow-{{ i + 1 }}"
                      [attr.data-checkbox-id]="employee._id"
                      (click)="rowCheckBoxChecked($event, employee)"
                    />
                  </td>
                  <td>{{employee?.revision_run_status?(employee?.revision_run_status | titlecase) : "N/A"}}</td>
                  <td>{{ employee?.emp_id ?? "N/A" }}</td>
                  <td>
                    {{ employee?.emp_first_name ?? "N/A" }}
                    {{ employee?.emp_last_name ?? "N/A" }}
                  </td>
                  <td>
                    <b>{{ employee?.revision?.gross_salary ?? "N/A" }}</b>
                  </td>
                  <td>
                    {{
                      getMasterValue({
                        arrMaster: salaryTempMaster,
                        searchValue: employee?.revision?.salary_temp_id
                      }) ?? "N/A"
                    }}
                  </td>
                  <td>
                    {{
                      getMasterValue({
                        arrMaster: packageMaster,
                        searchValue: employee?.revision?.policy_pack_id
                      }) ?? "N/A"
                    }}
                  </td>
                  <td>
                    {{
                      employee?.revision?.effect_from
                        ? (employee?.revision?.effect_from | date)
                        : "N/A"
                    }}
                  </td>
                  <td>
                    {{
                      employee?.revision?.revision_month
                        ? getMonthValue(employee?.revision?.revision_month)
                            ?.description ?? "N/A"
                        : "N/A"
                    }}
                  </td>
                  <td>{{ employee?.revision?.revision_year }}</td>
                  <td>{{ employee?.logcount ?? "0" }}</td>
                </tr>

                <tr *ngIf="employees.length == 0">
                  <td class="text-center" colspan="100%">No records found</td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="100%" class="text-left">
                    <button
                      [class.disabled]="
                        rowCheckedAll == false &&
                        checkedRowIds.length == 0 && uncheckedRowIds.length == 0
                      "
                      class="btn btn-dark pd-y-13 pd-x-20 bd-0 tx-uppercase tx-11 tx-spacing-2"
                      (click)="runRevisionPayroll($event)"
                    >
                      Run
                    </button>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>

          <app-custom-pagination
            [rows]="employees"
            [paginationOptions]="paginationOptions"
            (onPageClicked)="fetchEmployees({ page: $event })"
          ></app-custom-pagination>
        </div>
      </div>

      <ng-template #arrearReportTemplate>
        <div class="card bd-0">
          <div class="card-body px-0 bd-t-0 rounded-bottom">
            <div class="table-responseive mb-3">
              <table
                class="table nowrap dataTable dtr-inline"
                style="width: 100%"
              >
                <thead></thead>
              </table>
            </div>
          </div>
        </div>
      </ng-template>
    </div>
  </div>

  <companyuser-app-dashboard-footer></companyuser-app-dashboard-footer>
</div>

<!-- Employee MultiEdit Modal -->
<button
  id="runAttendancePayrollButton"
  [hidden]="true"
  data-toggle="modal"
  data-target="#runAttendancePayroll"
></button>
<div id="runAttendancePayroll" tabindex="-1" class="modal fade">
  <div class="modal-dialog modal-dialog-centered modal-md" role="document">
    <div class="modal-content bd-0 tx-14">
      <div class="modal-header pd-y-20 pd-x-25 d-none">
        <h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">
          Run Attendance & Payroll
        </h6>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body pd-25">
        <div class="row">
          <div class="col-md-12">
            <h4 class="text-primary text-left text-uppercase fw-bolder">
              Run Attendance & Payroll
            </h4>
            <p class="text-muted">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus
              ipsa reprehenderit distinctio quisquam beatae illo non incidunt,
              hic natus quasi eum libero rerum consequatur sed maiores sunt
              porro molestias error!
            </p>

            <button
              (click)="runRevisionPayroll($event, 'attendance')"
              class="mt-4 btn btn-dark"
              [disabled]="attendanceRunCompleted == true"
            >
              <span>1. Run Attendance</span>
            </button>
            <button
              (click)="runRevisionPayroll($event, 'payroll')"
              class="mt-4 btn btn-dark mx-2"
              [disabled]="attendanceRunCompleted == false"
            >
              <span>2. Run Payroll</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
