<companyuser-app-dashboard-header></companyuser-app-dashboard-header>

<div class="br-mainpanel">
    <div class="ht-100v d-flex align-items-center justify-content-center">
        <div class="wd-lg-70p wd-xl-50p tx-center pd-x-40">
            <h1 class="tx-100 tx-xs-140 tx-normal tx-inverse tx-roboto mg-b-0">401!</h1>
            <h5 class="tx-xs-24 tx-normal tx-info mg-b-30 lh-5">Unauthorized Access</h5>
            <p class="tx-16 mg-b-30">The page your are looking for has not access for you.</p>

            <div class="d-flex justify-content-center">
                <div class="input-group wd-xs-300">
                    <a class="btn-block btn btn-info" routerLink="/company">
                        <i class="fas fa-home"></i>&nbsp;&nbsp;Go to Dashboard</a>
                </div>
                <!-- input-group -->
            </div>
            <!-- d-flex -->
        </div>
    </div>
    <!-- ht-100v -->
</div>