.btn {
    min-width: 120px;
}

thead tr {
    font-size: 12px !important;
    background-color: #EDF2F2;
    border-bottom: 1px solid grey;
}

tbody tr {
    background-color: #fff;
    color: #000;
    font-size: 12px;
}

tbody tr:nth-child(even) {
    background-color: #f5f5f5;
}

td {
    border: none;
    border-left: 1px solid #dee2e6;
    border-collapse: collapse;
}

td:first-child {
    border: none;
}

.actionBtn {
    border: 1px solid #E3E3EE;
    border-radius: 4px;
    background: #F6F6F9;
    padding: 7px 10px;
    cursor: pointer;
}