<companyuser-app-dashboard-header></companyuser-app-dashboard-header>

<div class="br-mainpanel">
    <div class="br-pageheader">
        <nav class="breadcrumb pd-0 mg-0 tx-12">
            <a class="breadcrumb-item" routerLink="/company">Dashboard</a>
            <a class="breadcrumb-item">Attendance Management</a>
            <a class="breadcrumb-item active">Weekly Holiday</a>
        </nav>
    </div>

    <div class="br-pagetitle">
        <i class="icon icon ion-ios-calendar"></i>
        <div>
            <h4>Weekly Holiday</h4>
            <!-- <p class="mg-b-0">Lorem Ipsum is simply dummy text of the printing and typesetting</p> -->
        </div>
    </div>

    <div class="br-pagebody">
        <div class="br-section-wrapper pd-10">
            <div class="row">
                <div class="col-md-12 p-4">
                    <div class="d-flex align-items-center justify-content-end mg-b-10">
                        <div class="d-md-flex pd-y-20 pd-md-y-0">
                            <!-- <input type="text" class="form-control fc-datepicker" placeholder="Sort Date"> -->
                            <button (click)="addHoliday()" type="button" class="btn btn-info pd-y-13 pd-x-20 bd-0 mg-md-l-10 mg-t-10 mg-md-t-0 tx-uppercase tx-11 tx-spacing-2">Add Holiday</button>
                        </div>
                    </div>

                    <table class="table table-bordered table-hover display responsive nowrap wd-100p" datatable [dtOptions]="dtOptions" id="my-datatable">
                        <thead class="thead-colored thead-info">
                            <tr>
                                <th scope="col">Effective From</th>
                                <th scope="col">Week Day</th>
                                <th scope="col">Action</th>
                                <th scope="col">1st Week</th>
                                <th scope="col">2nd Week</th>
                                <th scope="col">3rd Week</th>
                                <th scope="col">4th Week</th>
                                <th scope="col">5th Week</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="bd_rightside animate__animated animate__slideInRight" style="z-index: 1;" id="holiday-form">
                <div class="pd-20 pd-xs-40 mg-t-40" style="width:100%;">
                    <h6 class="tx-gray-800 tx-uppercase tx-bold">
                        <ng-container *ngIf="this.editActionId; else addHolidayHeading">Edit Holiday</ng-container>
                        <ng-template #addHolidayHeading>
                            Add Holiday
                        </ng-template>

                        <button class="btn btn-info pull-right" (click)="cancelEntry()" style="float:right; clear: both;"><i class="fa fa-times"></i></button>
                    </h6>
                    <form [formGroup]="holidayForm">
                        <div class="form-group">
                            <label>EFFECTIVE FROM&nbsp;<span class="text-danger">*</span></label>
                            <input type="date" class="form-control" placeholder="Effective From" formControlName="effective_from" [class.error]="holidayForm.controls.effective_from.dirty || holidayForm.controls.effective_from.touched">

                            <p class="mt-1 text-danger" *ngIf="holidayForm.controls.effective_from.hasError('required') && ( holidayForm.controls.effective_from.dirty || holidayForm.controls.effective_from.touched )">This field is required</p>
                        </div>

                        <div class="form-group">
                            <label>1ST WEEK</label>
                            <div class="row">
                                <div class="col-sm-6">
                                    <label class="ckbox">
                                      <input type="checkbox" class="week-checkbox" name="weekday1" value="first_half">
                                      <span>First Half</span>
                                    </label>
                                </div>
                                <div class="col-sm-6">
                                    <label class="ckbox">
                                      <input type="checkbox" class="week-checkbox" name="weekday1" value="second_half">
                                      <span>Second Half</span>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>2ND WEEK</label>
                            <div class="row">
                                <div class="col-sm-6">
                                    <label class="ckbox">
                                    <input type="checkbox" class="week-checkbox" name="weekday2" value="first_half">
                                    <span>First Half</span>
                                  </label>
                                </div>
                                <div class="col-sm-6">
                                    <label class="ckbox">
                                    <input type="checkbox" class="week-checkbox" name="weekday2" value="second_half">
                                    <span>Second Half</span>
                                  </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>3RD WEEK</label>
                            <div class="row">
                                <div class="col-sm-6">
                                    <label class="ckbox">
                                  <input type="checkbox" class="week-checkbox" name="weekday3" value="first_half">
                                  <span>First Half</span>
                                </label>
                                </div>
                                <div class="col-sm-6">
                                    <label class="ckbox">
                                  <input type="checkbox" class="week-checkbox" name="weekday3" value="second_half">
                                  <span>Second Half</span>
                                </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>4TH WEEK</label>
                            <div class="row">
                                <div class="col-sm-6">
                                    <label class="ckbox">
                                <input type="checkbox" class="week-checkbox" name="weekday4" value="first_half">
                                <span>First Half</span>
                              </label>
                                </div>
                                <div class="col-sm-6">
                                    <label class="ckbox">
                                <input type="checkbox" class="week-checkbox" name="weekday4" value="second_half">
                                <span>Second Half</span>
                              </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>5TH WEEK</label>
                            <div class="row">
                                <div class="col-sm-6">
                                    <label class="ckbox">
                              <input type="checkbox" class="week-checkbox" name="weekday5" value="first_half">
                              <span>First Half</span>
                            </label>
                                </div>
                                <div class="col-sm-6">
                                    <label class="ckbox">
                              <input type="checkbox" class="week-checkbox" name="weekday5" value="second_half">
                              <span>Second Half</span>
                            </label>
                                </div>
                            </div>
                        </div>

                        <ng-container *ngIf="this.editActionId; else addHolidayButton">
                            <button type="submit" (click)="update($event)" class="btn btn-info btn-block pd-y-10 mg-b-30"><span>Update</span></button>
                        </ng-container>
                        <ng-template #addHolidayButton>
                            <button type="submit" (click)="add($event)" class="btn btn-info btn-block pd-y-10 mg-b-30"><span>Save</span></button>
                        </ng-template>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <companyuser-app-dashboard-footer></companyuser-app-dashboard-footer>
</div>