<div class="atendance-main">
    <div class="tabheader">
      <h5>Declaration</h5>
    </div>
    <div class="table-main">
      <div class="row no-gutters">
        <div class="col-md-12">
          <div class="top-part mb-3"> Enter your planned investment declarations here and choose the desired regime in the following page. </div>
          <div id="accordion" class="accordian-card">
            <form method="post" [formGroup]="tdsForm">
              <div class="card mb-3">
                <div class="card-header" id="headingOne">
                 
                  <button >
                    <div class="bg-card-head" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Are you staying in a rented house?<div class="switchonoff">
                      <input type="checkbox" id="switch6" [checked]="tdsForm.value.rental_house=='Y'" (change)="toggle($event,'rental_house')">
                      <label for="switch6">Toggle</label>
                    </div>
                    </div>
                  </button> 


                </div>
                <ng-container *ngIf="tdsForm.value.rental_house=='Y'">
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                  <div class="card-body">
                    <div class="bg-card-body">
                      <div class="row">
                        <div class="col-md-6 mb-3">
                          <div class="input-group">
                            <legend>Rental Period</legend>
                            <div class="input-group">
                              <ngx-select-dropdown formControlName="rental_financial_year" [options]="yearMaster" class="form-control p-1" [config]="{search:true, placeholder: 'Select Year *'}"></ngx-select-dropdown>

                               <p class="mt-1 text-danger" *ngIf="tdsForm.controls.rental_from_date.hasError('required') && ( tdsForm.controls.rental_from_date.dirty || tdsForm.controls.rental_from_date.touched )">This field is required</p>
                              
                            </div>
                          </div>
                        </div>
                        
                        <div class="col-md-6 mb-3">
                          <div class="input-group">
                            <legend>Amount/month</legend>
                            <input type="text" class="form-control" formControlName="rental_amount">
                            <p class="mt-1 text-danger" *ngIf="tdsForm.controls.rental_amount.hasError('required') && (tdsForm.controls.rental_amount.dirty || tdsForm.controls.rental_amount.touched )">This field is required</p>
                            <p class="mt-1 text-danger" *ngIf="tdsForm.controls.rental_amount.hasError('pattern') && (tdsForm.controls.rental_amount.dirty || tdsForm.controls.rental_amount.touched )">Please Enter a valid amount</p>
                          </div>
                        </div>
                        <div class="col-md-12 mb-3">
                          <div class="input-group">
                            <legend>Address</legend>
                            
                            <textarea class="form-control" cols="30" rows="10" formControlName="address"></textarea>

                            <p class="mt-1 text-danger" *ngIf="tdsForm.controls.address.hasError('required') && ( tdsForm.controls.address.dirty || tdsForm.controls.address.touched )">This field is required</p>
                          </div>
                        </div>
                        <div class="col-md-12 mb-3">
                          <div class="input-group">
                            <input type="text" class="form-control" formControlName="landlord_name" placeholder="Landlord Name">
                            <p class="mt-1 text-danger" *ngIf="tdsForm.controls.landlord_name.hasError('required') && ( tdsForm.controls.landlord_name.dirty || tdsForm.controls.landlord_name.touched )">This field is required</p>
                          </div>
                        </div>
                        <div class="col-md-12 mb-3">
                          <div class="input-group">
                            <select class="form-control" formControlName="urbanizaion_type">
                              <option value="">Urbanization type</option>
                              <option value="metro">Metro</option>
                              <option value="non-metro">Non-Metro</option>
                            </select>
                            <p class="mt-1 text-danger" *ngIf="tdsForm.controls.urbanizaion_type.hasError('required') && ( tdsForm.controls.urbanizaion_type.dirty || tdsForm.controls.urbanizaion_type.touched )">This field is required</p>
                          </div>
                        </div>
                        <div class="col-md-12 mb-3">
                          <div class="input-group">
                            <input type="text" class="form-control" formControlName="landlord_pan"  placeholder="Landlord Pan">
                            <p class="mt-1 text-danger" *ngIf="tdsForm.controls.landlord_pan.hasError('required') && ( tdsForm.controls.landlord_pan.dirty || tdsForm.controls.landlord_pan.touched )">This field is required</p>

                          </div>
                        </div>
                        <div class="col-md-12 uploaddoc">
                          <div class="input-group">
                            <input  type="file" multiple  accept="image/*" (change)="onMulFileChanged($event,'rantal_document_file','rantal_document')" class="form-control" formControlName="rantal_document">

                            <p class="mt-1 text-danger" *ngIf="tdsForm.controls.rantal_document.hasError('required') && ( tdsForm.controls.rantal_document.dirty || tdsForm.controls.rantal_document.touched )">This field is required</p>
                                    
                            <p class="error-element" *ngIf="tdsForm.get('rantal_document').hasError('fileSize')">
                               File size exceeds {{ tdsForm.get('rantal_document').getError('maxSize') }} KB.</p>
                               <p class="error-element" *ngIf="(max_upload_limit>0 && net_uploaded_size>max_upload_limit)">Max Upload Size Exceed</p>


                          </div>
                          <div class="doclist">
                            <span  *ngFor="let fileItem of tdsForm.value.rantal_documents_previews;  let ccnt = index "> 
                              <a *ngIf="fileItem" href="{{Global.BACKEND_URL}}/{{fileItem}}" target="_blank">
                                Document-{{ccnt+1}}
                              </a>
                            </span>
                           
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-container>
              <div class="col-md-12 mb-3">
                <div class="input-group">
                  <label>Applicable For</label>
                  <div class="input-group">
                    <div class="form-check">
                      <label class="form-check-label" style="width: 104px;">
                      <input class="form-check-input radio-inline" type="radio" (change)="removeeightC();" formControlName="applicable_for" id="gridRadios1" value="old_regime">
                      OLD Regime</label>
                      <label class="form-check-label">
                      <input class="form-check-input radio-inline" type="radio" (change)="removeeightC();" formControlName="applicable_for" id="gridRadios2" value="new_regime">
                      NEW Regime</label>
                   </div>
                    
                  </div>
                </div>
              </div>
              </div>
              
              <div class="card mb-3">
                <div class="card-header" id="headingTwo">
                 
                  <!-- Are you repaying the home loan for a self-occurred house property?
                  <input type="checkbox" value="true" [checked]="tdsForm.value.house_property=='Y'" > -->
                  <button >
                    <div  class="bg-card-head collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Are you repaying the home loan for a self-occurred house property?<div class="switchonoff">
                      <input type="checkbox" id="switch1" value="true" [checked]="tdsForm.value.house_property=='Y'" >
                      <label for="switch1">Toggle</label>
                    </div>
                    </div>
                  </button> 
                 
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                  <div class="card-body">
                    <div class="bg-card-body"> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum quam sequi dicta ea voluptates similique nemo autem temporibus sapiente. Explicabo minima sint et sapiente totam expedita deserunt dolor facilis tenetur atque suscipit, est optio adipisci quam sunt enim inventore ab iure alias debitis eligendi! Ea repellendus quos ratione incidunt, totam vitae consequatur doloribus quasi animi nulla eius, earum, nostrum iusto illum ullam. Dolore labore inventore maiores sint aperiam soluta perspiciatis temporibus vel itaque similique, repudiandae libero reiciendis a maxime nulla deleniti laudantium nihil voluptatibus nemo quis sed odit modi! Dolores corporis, aut possimus cumque voluptatem consequuntur aliquid dolore expedita veniam? </div>
                  </div>
                </div>
              </div>
              <div class="card mb-3">
                <div class="card-header" id="headingThree">
                  <button>
                  <div class="bg-card-head collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseFour">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia, quis. 
                    <div class="switchonoff">
                    <input type="checkbox" id="switch2" value="true"  [checked]="tdsForm.value.rental_income=='Y'"  (change)="toggle($event,'rental_income')">
                    <label for="switch2">Toggle</label>
                  </div>
                </div>
                </button>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                  <div class="card-body">
                    <div class="bg-card-body"> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum quam sequi dicta ea voluptates similique nemo autem temporibus sapiente. Explicabo minima sint et sapiente totam expedita deserunt dolor facilis tenetur atque suscipit, est optio adipisci quam sunt enim inventore ab iure alias debitis eligendi! Ea repellendus quos ratione incidunt, totam vitae consequatur doloribus quasi animi nulla eius, earum, nostrum iusto illum ullam. Dolore labore inventore maiores sint aperiam soluta perspiciatis temporibus vel itaque similique, repudiandae libero reiciendis a maxime nulla deleniti laudantium nihil voluptatibus nemo quis sed odit modi! Dolores corporis, aut possimus cumque voluptatem consequuntur aliquid dolore expedita veniam? </div>
                  </div>
                </div>
              </div>
              <div class="card mb-3" *ngIf="tdsDetails?.status!=''">
                <div class="card-header" >
                  <button >
                    <div  class="bg-card-head collapsed" data-toggle="collapse"  aria-expanded="false" >Current Status
                      <div class="switchonoff">
                        {{tdsDetails?.status | titlecase}}
                      </div>
                    </div>
                  </button>  
                </div>    
             
              </div>
              <div class="card mb-3">
               
                <div class="card-body">
                  <div class="bg-card-body">
                    <p>Declare investments such as LIC premiums, mutual funds and PPF under this section. The maximum tax-saving investment you can make under 80C is 1,50,000</p>
                    
                    <ng-container formArrayName="eighty_c_investments" *ngIf="tdsForm.value.applicable_for=='old_regime'">
                      <ng-container *ngFor="let deductDataControl of deductionRows(); let i = index" [formGroupName]="i">
                        <ng-container *ngIf="deductionRows()[i].value.children.length==0;else child_tpl">
                          <div class="border-col"  >
                            <div class="row">
                              <div class="col-md-6 mb-3">
                                <div class="input-group">
                                  {{deductionRows()[i].value.label}}
                                </div>
                              </div>
                              
                              <div class="col-md-6 mb-3">
                                <div class="input-group">
                                  <input type="text" class="form-control" placeholder="Amount"  [readOnly]="true" formControlName="amount">

                                </div>
                              </div>
                             
                            </div>
                          </div>  
                        </ng-container> 
                        <ng-template #child_tpl>
                          <ng-container formArrayName="children">

                            <div class="row" *ngFor="let subItem of deductionSubItems(i).controls; let j=index" [formGroupName]="j">
                              <div class="col-md-3 mb-3">
                                <div class="input-group">
                                  {{j==0?deductionRows()[i].value.label:''}}
                                </div>
                              </div>
                              <div class="col-md-3 mb-3">
                                <div class="input-group">
                                  <input type="text" class="form-control" placeholder="Label"  formControlName="label">

                                </div>
                              </div>
                              <div class="col-md-3 mb-3">
                                <div class="input-group">
                                  <input type="text" class="form-control" placeholder="Amount"   (input)="changeAmount(deductionSubItems(i).controls[j].value.parent_id)" formControlName="amount">

                                </div>
                              </div>
                              <div class="col-md-3">
                                <div class="input-group">
                                  <!-- <label style="cursor:pointer;">
                                    <legend>
                                      <img src="assets/img/attachments.png" alt=""> Upload Document
                                    </legend>
                                  </label> -->
                                  <input type="file" [disabled]="net_uploaded_size>=max_upload_limit" accept="image/*" class="form-control" multiple="true"  (change)="onFileChanged($event, 'eighty_c_investments',i,'document_file',j)">
                                            
                                    


                                </div>
                                <p class="error-element" *ngIf="(max_upload_limit>0 && net_uploaded_size>max_upload_limit)">Max Upload Size Exceed</p>
                                    <p class="error-element" *ngIf="deductionSubItems(i).controls[j].get('document_file').hasError('fileSize')">
                                        File size exceeds {{ deductionSubItems(i).controls[j].get('document_file').getError('maxSize') }} KB.
                                    </p>
                                <div class="add-investmentcol">
                                  <a href="javascript:void(0)" class="add-investment"  (click)="addTemplateRows(i,deductionSubItems(i).controls[j].value.parent_id)" *ngIf="(deductionSubItems(i).controls.length-1)==j">
                                    <img src="assets/img/plus.png" alt=""> Add </a>
                                    <a href="javascript:void(0)" class="add-investment" (click)="removeTemplateRow(i,j,deductionSubItems(i).controls[j].value.parent_id)" *ngIf="deductionSubItems(i).controls.length>1" >
                                      <img src="assets/img/close-red.png" alt=""> Remove </a>
                                </div>


                              
                                <div class="doclist">
                                  <span *ngFor="let fileItem of deductionSubItems(i).controls[j].value?.pre_sub_declaration_document;  let ccnt = index "> 

                                  <a *ngIf="fileItem?.file;" href="{{Global.BACKEND_URL}}/{{fileItem?.file}}" target="_blank"> Doc - {{ccnt+1}} <span *ngIf="((deductionSubItems(i).controls[j].value?.pre_sub_declaration_document.length-1)!=ccnt)">|</span> &nbsp;</a>
 
                                  </span>
                                 
                                  
                                </div>
                                
                              </div>
                            </div>
                            <hr>
                            
                          </ng-container> 
                        </ng-template>  
                      </ng-container>  
                 
                    </ng-container>
                    <div class="row" >
                      <div class="col-md-4 mb-3">
                        <div class="input-group">
                          Any Other Income reported by employee U/S 192(2B)
                        </div>
                      </div>
                      <div class="col-md-4 mb-3">
                        <div class="input-group">
                          <input type="text" class="form-control" placeholder="Amount"    formControlName="other_income_amount">

                        </div>
                      </div>

                      <div class="col-md-3 uploaddoc">
                        <div class="input-group">
                          <input  accept="image/*"  type="file"  multiple="true"  formControlName="other_income_document_file" (change)="onMulFileChanged($event,'other_income_document','other_income_document_file')">
                          
                          <p class="error-element" *ngIf="(max_upload_limit>0 && net_uploaded_size>max_upload_limit)">Max Upload Size Exceed</p>
                          <p class="error-element" *ngIf="tdsForm.get('other_income_document_file')?.hasError('fileSize')">
                            File size exceeds {{ tdsForm.get('other_income_document_file').getError('maxSize') }} KB.
                         </p>
                        </div>


                      
                        <div class="doclist">
                          <span *ngFor="let fileItem of tdsDetails?.other_income_u_s_two_b?.document;  let ccnt = index "> 

                            <a *ngIf="fileItem?.file;" href="{{Global.BACKEND_URL}}/{{fileItem?.file}}" target="_blank"> Doc - {{ccnt+1}} <span *ngIf="((tdsDetails?.other_income_u_s_two_b?.document.length-1)!=ccnt)">|</span> &nbsp;</a>

                          </span>
                         
                          
                        </div>
                        
                      </div>
                    
                     
                    </div>
                    
                  </div>
                </div>
              </div>
             
              <div class="btn-bottom mt-lg-4 mt-4">
                <button class="btn btn-save mr-2" (click)="add($event)">Save</button>
                <a href="#" class="btn btn-cancel">Cancel</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>