<div class="container mb-4">
    <div class="header">
      <h1>FORM 'L'</h1>
    </div>
    <div class="header">
      <h1>[See clause (i) of sub-rule (1) of rule 8]</h1>
    </div>
    <div class="header">
      <h1>Notice for Payment of Gratuity</h1>
    </div>

    <div class="content">
      <p>To:...............................................................</p>
      <p class="name-address">[Name and address of the applicant employee/nominee/legal heir]</p>

      <p>You are hereby informed as required under clause (i) of sub-rule (1) of rule 8 of the Payment of Gratuity (Central) Rules, 1972 that a sum of Rs. <span class="gratuity-amount">Rs. .......... (Rupees...........................)</span> is payable to you as gratuity/as your share of gratuity in terms of nomination made by <span class="nomination-details">............ on............and............. recorded in this ................. as a legal heir of ..............., an employee of this............... establishment.</span></p>

      <p>2. Please call at <span class="collection-place">................[Here specify place]</span> on <span class="collection-date">..............[Date]</span> at <span class="collection-time">.............[Time]</span> for collecting your payment in cash/open or crossed cheque.</p>

      <p>3. Amount payable shall be sent to you by Postal Money Order at the address given in your application after deducting the Postal Money Order commission, as desired by you.</p>

      <div class="header">
        <h1>Brief statement of calculation</h1>
      </div>
      <ul class="calculation-details">
        <p>1. Total period of service of the employee concerned: <span class="total-service">......... years ........ months.</span></p><br>
        <p>2. Wages last drawn:</p><br>
        <p>3. Proportion of the admission gratuity payable in terms of nomination/as a legal heir:</p>
        <p>Amount payable: <span class="payable-amount"></span></p>
      </ul>

      <div class="signature-section">
        <p>Place:</p>
        <p>Date: [Date]</p>
        <p>Signature of the employer/Authorised Officer</p>
        <p>Name or description of establishment/Rubber stamp hereof</p>
      </div>

      <p class="copy-to">Copy to: the Controlling Authority</p>
      <p class="note">Note: Strike out the words not applicable.</p>
    </div>
  </div>