<div class="br-sideleft sideleft-scrollbar sm-leftbar">
    <ul class="br-sideleft-menu py-3">
        <li class="br-menu-item">
            <a routerLink="/employee/dashboard" routerLinkActive="active" class="br-menu-link">
                <img src="assets/img/employee-panel/dashbord-icon.svg" alt="">
                <span class="menu-item-label">Dashboard</span>
            </a>
        </li>
        <li class="br-menu-item" [hidden]="permission?.rights?.me?false:true">
            <a routerLink="/employee/profile" routerLinkActive="active" class="br-menu-link">
                <img src="assets/img/employee-panel/me-icon.svg" alt="">
                <span class="menu-item-label">Me</span>
            </a>
        </li>
        <li class="br-menu-item" [hidden]="permission?.rights?.apply?.length>0?false:true">
            <a routerLink="/employee/apply" routerLinkActive="active" class="br-menu-link">
                <img src="assets/img/employee-panel/applyicon.svg" alt="">
                <span class="menu-item-label">Apply</span>
            </a>
        </li>
        <li class="br-menu-item" [hidden]="permission?.rights?.attendance?false:true">
            <a routerLink="/employee/attendance" routerLinkActive="active" class="br-menu-link">
                <img src="assets/img/employee-panel/attandench-icon.svg" alt="">
                <span class="menu-item-label">Attendance</span>
            </a>
        </li>
        <li class="br-menu-item" [hidden]="permission?.rights?.view?.length>0?false:true">
            <a routerLink="/employee/view" routerLinkActive="active" class="br-menu-link">
                <img src="assets/img/employee-panel/view-icon.svg" alt="">
                <span class="menu-item-label">View</span>
            </a>
        </li>
    </ul>
</div>