<companyuser-app-dashboard-header></companyuser-app-dashboard-header>

<div class="br-mainpanel">
  <div class="br-pageheader">
    <nav class="breadcrumb pd-0 mg-0 tx-12">
      <a class="breadcrumb-item" routerLink="/company">Dashboard</a>
      <a class="breadcrumb-item" routerLink="/company/settings"
        >Company Settings</a
      >
      <a
        class="breadcrumb-item"
        routerLink="/company/settings"
        [queryParams]="{ active: 'mastersettings' }"
        >Master</a
      >
      <a class="breadcrumb-item active">Client</a>
    </nav>
  </div>

  <ng-container
    *ngIf="
      this.AppComponent.checkCompanyModulePermission({
        company_module: 'master',
        company_sub_module:'client',
        company_sub_operation: ['add', 'edit', 'view', 'delete'],
        company_strict: true
      })
    "
  >
    <div class="br-pagetitle">
      <i class="icon icon ion-ios-home"></i>
      <div>
        <h4>Client</h4>
        <!-- <p class="mg-b-0">Lorem Ipsum is simply dummy text of the printing and typesetting</p> -->
      </div>
    </div>

    <div class="br-pagebody pd-x-20 pd-sm-x-30" id="client-submit-section">
      <div class="br-section-wrapper">
        <ng-container
          *ngIf="
            this.AppComponent.checkCompanyModulePermission({
              company_module: 'master',
        company_sub_module:'client',
              company_sub_operation: ['add', 'edit'],
              company_strict: true
            })
          "
        >
          <ng-container
            *ngIf="
              this.AppComponent.checkCompanyModulePermission({
                company_module: 'master',
        company_sub_module:'client',
                company_sub_operation: ['add'],
                company_strict: true
              })
            "
          >
            <h6
              class="br-section-label mb-3"
              *ngIf="editActionId == ''; else editHeader"
            >
              Add Client
            </h6>
          </ng-container>
          <ng-template #editHeader>
            <h6
              class="br-section-label mb-3"
              *ngIf="
                this.AppComponent.checkCompanyModulePermission({
                  company_module: 'master',
        company_sub_module:'client',
                  company_sub_operation: ['edit'],
                  company_strict: true
                })
              "
            >
              Edit Client
            </h6>
          </ng-template>

          <div class="form-layout form-layout-7">
            <form [formGroup]="clientForm">
              <div class="row no-gutters">
                <div class="col-5 col-sm-4">Client Code:</div>
                <div class="col-7 col-sm-8">
                  <input
                    class="form-control"
                    type="text"
                    formControlName="client_code"
                    placeholder="Enter Client Code"
                  />

                  <p
                    class="error-element"
                    *ngIf="
                      clientForm.controls.client_code.hasError('required') &&
                      clientForm.controls.client_code.dirty
                    "
                  >
                    This field is required
                  </p>
                </div>
              </div>
              <div class="row no-gutters">
                <div class="col-5 col-sm-4">Client Name:</div>
                <div class="col-7 col-sm-8">
                  <input
                    class="form-control"
                    type="text"
                    formControlName="client_name"
                    placeholder="Enter Client Name"
                  />

                  <p
                    class="error-element"
                    *ngIf="
                      clientForm.controls.client_name.hasError('required') &&
                      clientForm.controls.client_name.dirty
                    "
                  >
                    This field is required
                  </p>
                </div>
              </div>
              <div class="row no-gutters">
                <div class="col-5 col-sm-4"></div>

                <div class="col-7 col-sm-8">
                  <ng-container
                    *ngIf="editActionId == ''; else editButtonSection"
                  >
                    <ng-container
                      *ngIf="
                        this.AppComponent.checkCompanyModulePermission({
                          company_module: 'master',
        company_sub_module:'client',
                          company_sub_operation: ['add'],
                          company_strict: true
                        })
                      "
                    >
                      <button
                        type="submit"
                        [disabled]="!clientForm.valid"
                        (click)="create($event)"
                        class="btn btn-info"
                      >
                        <span>Add Client</span>
                      </button>
                    </ng-container>
                  </ng-container>

                  <ng-template #editButtonSection>
                    <ng-container
                      *ngIf="
                        this.AppComponent.checkCompanyModulePermission({
                          company_module: 'master',
        company_sub_module:'client',
                          company_sub_operation: ['edit'],
                          company_strict: true
                        })
                      "
                    >
                      <button
                        type="button"
                        (click)="cancelEdit()"
                        class="btn btn-danger mg-r-5"
                      >
                        <span>Cancel Editing</span>
                      </button>
                      <button
                        type="submit"
                        [disabled]="!clientForm.valid"
                        (click)="update($event)"
                        class="btn btn-info"
                      >
                        <span>Update Client</span>
                      </button>
                    </ng-container>
                  </ng-template>
                </div>
              </div>
            </form>
          </div>
        </ng-container>

        <!--  -->

        <ng-container
          *ngIf="
            this.AppComponent.checkCompanyModulePermission({
              company_module: 'master',
        company_sub_module:'client',
              company_sub_operation: ['view'],
              company_strict: true
            })
          "
        >
          <h6 class="br-section-label mb-3 mt-5">Client List</h6>
          <div class="table-wrapper">
            <!-- <div class="table-responsive"> -->
            <table
              class="table display responsive nowrap wd-100p"
              datatable
              [dtOptions]="dtOptions"
              id="my-datatable"
            >
              <thead>
                <tr>
                  <th class="wd-15p">SL</th>
                  <th class="wd-15p text-center">Status</th>
                  <th class="wd-25p text-center">Action</th>
                  <th class="wd-15p">Client Name</th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
            <!-- </div> -->
          </div>
        </ng-container>
      </div>
    </div>
  </ng-container>

  <companyuser-app-dashboard-footer></companyuser-app-dashboard-footer>
</div>
