<companyuser-app-dashboard-header></companyuser-app-dashboard-header>

<div class="br-mainpanel">

    <div class="br-pageheader">
        <nav class="breadcrumb pd-0 mg-0 tx-12">
            <a class="breadcrumb-item" routerLink="/company">Dashbaord</a>
            <span class="breadcrumb-item">Shift Management</span>
            <span class="breadcrumb-item active">Manage Rate</span>
        </nav>
    </div>

    <div class="br-pagetitle">
        <i class="icon icon ion-clock"></i>
        <div>
            <h4>Shift Management</h4>
            <!-- <p class="mg-b-0">Lorem Ipsum is simply dummy text of the printing and typesetting</p> -->
        </div>
    </div>

    <div class="br-pagebody">
        <div class="br-section-wrapper">
            <h6 class="br-section-label mb-3">Search Employee</h6>
            <companyuser-app-table-filter
            [searchKeyFilter]="true"
            [empIdFilter]="true"
            [isHod]="false"
            (onFiltered)="fetch(1, $event)"
          ></companyuser-app-table-filter>
            <!-- <div class="d-flex align-items-center justify-content-center bg-gray-100 bd pd-x-20">
                <form [formGroup]="searchForm">
                    <div class="d-md-flex flex-wrap pd-y-20 justify-content-center">
                        <div class="col-sm-3 mb-2 col-12">
                            <input type="text" class="form-control" placeholder="Search Name" formControlName="emp_name">
                        </div>

                        <div class="col-sm-3 mb-2 col-12">
                            <input type="text" class="form-control mg-t-10 mg-md-t-0" placeholder="Search Employee ID" formControlName="emp_id">
                        </div>

                        <div class="col-sm-3 mb-2 col-12">
                            <ngx-select-dropdown formControlName="department" [options]="departmentMaster" class="form-control p-2" [config]="{search:true, placeholder: 'Select Department'}" [multiple]="true"></ngx-select-dropdown>
                        </div>

                        <div class="col-sm-3 mb-2 col-12">
                            <ngx-select-dropdown formControlName="designation" [options]="designationMaster" class="form-control p-2" [config]="{search:true, placeholder: 'Select Designation'}" [multiple]="true"></ngx-select-dropdown>
                        </div>

                        <div class="col-sm-3 mb-2 col-12">
                            <ngx-select-dropdown formControlName="branch" [options]="branchMaster" class="form-control p-2" [config]="{search:true, placeholder: 'Select Branch'}" [multiple]="true"></ngx-select-dropdown>
                        </div>

                        <div class="col-sm-3 mb-2 col-12">
                            <ngx-select-dropdown formControlName="client" [options]="clientMaster" class="form-control p-2" [config]="{search:true, placeholder: 'Select Client'}" [multiple]="true"></ngx-select-dropdown>
                        </div>

                        <div class="col-sm-3 mb-2 col-12">
                            <button class="btn btn-info pd-y-13 pd-x-20 bd-0  mg-t-10 mg-md-t-0 tx-uppercase tx-11 tx-spacing-2" (click)="fetch(1)">Search</button>
                        </div>
                    </div>
                </form>
            </div> -->
        </div>
    </div>

    <div class="br-pagebody">
        <div class="br-section-wrapper">
            <h6 class="br-section-label mb-3 d-inline-block">Employee Lists</h6>
            <button *ngIf="Global.checkCompanyModulePermission({
                company_module: 'shift_management',
                company_operation: 'manage_shift_rate',
                company_sub_module:'define_shift_allowance',
                company_sub_operation:['edit']
              })" class="btn btn-info pd-y-13 pd-x-20 bd-0 mg-t-10 mg-b-10 mg-md-t-0 tx-uppercase tx-11 tx-spacing-2 float-right" [disabled]="rowCheckedAll == false && (checkedRowIds.length == 0 && uncheckedRowIds.length == 0)" (click)="startEditing('multiple')">Edit Selected</button>

            <div class="table-wrapper">
                <div class="table-responsive">
                    <app-custom-tableoption
                    [searchable]="false"
                    (onFilterChanged)="paginationOptions.limit = +$event?.length ; fetch()"
                  ></app-custom-tableoption>
                    <table class="table table-bordered table-hover display responsive nowrap table-striped" style="border: 1px solid #dee2e6;">
                        <thead>
                            <tr>
                                <th>SL No</th>
                                <th class="text-center">
                                    <input type="checkbox" [value]="rowCheckedAll" (change)="allRowsCheckboxChecked($event)">
                                </th>
                                <th *ngIf="Global.checkCompanyModulePermission({
                                    company_module: 'shift_management',
                                    company_operation: 'manage_shift_rate',
                                    company_sub_module:'define_shift_allowance',
                                    company_sub_operation:['edit']
                                  })" class="text-center">Action</th>
                                <th>Employee Name</th>
                                <th>Employee ID</th>
                                <th>Shift Name</th>
                                <th>Shift Rate</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let item of employeeList; let i = index">
                                <tr *ngFor="let shiftRateItem of (item?.shift_rate ?? []); let shftRateIndex = index">
                                    <ng-container [ngTemplateOutlet]="employeeListShiftTdRows" [ngTemplateOutletContext]="{item : item, i: i, shftRateIndex: shftRateIndex}"></ng-container>

                                    <td>{{ getShiftInfo(shiftRateItem.shift_id)?.description}}</td>
                                    <td>{{ Global.viewRupeeFormat(shiftRateItem.rate)}}</td>
                                </tr>

                                <tr *ngIf="!(item?.shift_rate ?? []) || (item?.shift_rate ?? []).length < 1">
                                    <ng-container [ngTemplateOutlet]="employeeListShiftTdRows" [ngTemplateOutletContext]="{item : item, i: i, shftRateIndex: 0}"></ng-container>

                                    <td colspan="2" class="text-center">No Rates Updated</td>
                                </tr>
                            </ng-container>

                            <tr *ngIf="employeeList.length == 0">
                                <td class="text-center" colspan="100%">No Records Found</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <ng-template #employeeListShiftTdRows let-item="item" let-i="i" let-shftRateIndex="shftRateIndex">
                    <td *ngIf="shftRateIndex == 0" [attr.rowspan]="(item.shift_rate ?? []).length ? (item.shift_rate ?? []).length : 1">{{i+1}}</td>
                    <td *ngIf="shftRateIndex == 0" [attr.rowspan]="(item.shift_rate ?? []).length ? (item.shift_rate ?? []).length : 1" class="text-center">
                        <input [attr.checked]="this.isRowChecked(item._id) == true ? 'checked' : null" type="checkbox" [attr.data-checkbox-id]="item._id" (click)="rowCheckBoxChecked($event, item)">
                    </td>
                    <td *ngIf="shftRateIndex == 0 && Global.checkCompanyModulePermission({
                        company_module: 'shift_management',
                        company_operation: 'manage_shift_rate',
                        company_sub_module:'define_shift_allowance',
                        company_sub_operation:['edit']
                      })" [attr.rowspan]="(item.shift_rate ?? []).length ? (item.shift_rate ?? []).length : 1" class="text-center">
                        <button (click)="getEdit(item)" class="btn btn-sm btn-primary"><i class="fa fa-edit"></i></button>
                    </td>
                    <td *ngIf="shftRateIndex == 0" [attr.rowspan]="(item.shift_rate ?? []).length ? (item.shift_rate ?? []).length : 1">{{item.emp_first_name}} {{item.emp_last_name}}</td>
                    <td *ngIf="shftRateIndex == 0" [attr.rowspan]="(item.shift_rate ?? []).length ? (item.shift_rate ?? []).length : 1">{{item.emp_id}}</td>
                </ng-template>

                <app-custom-pagination [rows]="employeeList" [paginationOptions]="paginationOptions" (onPageClicked)="fetch($event)"></app-custom-pagination>
            </div>
        </div>
    </div>

    <companyuser-app-dashboard-footer></companyuser-app-dashboard-footer>

    <!-- Edit Shift Rate Modal -->
    <button id="editShiftRateModalButton" [hidden]="true" data-toggle="modal" data-target="#editShiftRateModal"></button>
    <div id="editShiftRateModal" tabindex='-1' class="modal fade">
        <div class="modal-dialog modal-dialog-centered modal-md" role="document">
            <div class="modal-content bd-0 tx-14">
                <div class="modal-header pd-y-20 pd-x-25">
                    <h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">Edit Shift Rate <small>{{employeeDetails?.emp_first_name}} {{employeeDetails?.emp_last_name}}</small></h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form [formGroup]="shiftRateForm">
                    <div class="modal-body pd-25">
                        <div class="row">
                            <table class="table table-bordered table-striped w-100" style="border: 1px solid #dee2e6 !important;">
                                <ng-container formArrayName="shift_rate">
                                    <thead>
                                        <tr>
                                            <th>Shift</th>
                                            <th>Rate</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr *ngFor="let templateDataControl of getTemplateRows('shift_rate'); let i = index" [formGroupName]="i">
                                            <td>{{getShiftInfo(getTemplateRows('shift_rate')[i].value.shift_id)?.description ?? "N/A"}}</td>
                                            <td>
                                                <input type="text" class="form-control" formControlName="rate">
                                            </td>
                                        </tr>
                                    </tbody>
                                </ng-container>
                            </table>
                        </div>
                    </div>
                    <div class=" modal-footer">
                        <button type="button" [disabled]="!shiftRateForm.valid" (click)="updateShiftRate($event)" class="btn btn-primary tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium">
                          <span>Update</span>
                      </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
