.navbar-line {
  background-color: #fff;
  padding: 10px;
}
.navbar-line ul {
  /* display: inline-block; */
  align-items: center;
  justify-content: center;
  margin-bottom: 0px;
}
.navbar-line ul li {
  text-decoration: none;
  list-style: none;
  padding: 10px 10px;
}
.navbar-line ul .active {
  color: rgb(25, 163, 255);
}


.row .col:nth-child(odd) {
  background-color: #f8f9fa;
  display: flex;
    align-items: center;
    background-color: #f8f9fa;
    border-right-width: 0;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}



/* Media query for mobile devices */
@media screen and (max-width: 767px) {
  .col{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    font-size: 10px !important;
  }

  .blank{
    display: none!important;
  }

  .navbar-line {
    text-align: end;
  }

  .navbar-line ul {
    /* display: inline !important; */
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
    text-align: left;
    padding: 0% !important;
  }
}

/* .pf-table{
 display: flex;
}
.pf-table th, td{
    display: block;
} */