#challan-report-table .title-sec th.column-title {
    background: #1D2939;
    color: #fff;
}

#challan-report-table .headings th {
    background: #3d4755;
    color: #fff;
}

#challan-report-table th,
#challan-report-table td {
    vertical-align: middle;
    text-align: center;
}

.table-responsive>.table-bordered {
    border: 1px solid #dee2e6;
}

.card-header {
    border-color: #dee2e6;
    border: 1px solid #dee2e6;
}