
.nested-th{
  vertical-align: middle !important;
  padding: 6px 12px;
  white-space: nowrap;
}

.c-table thead tr{
  font-size: 12px !important;
  background-color: #EDF2F2;
  border-bottom:1px solid #dee2e6;

}

.c-table tbody tr{
  background-color: #fff;
  color: #000;
  font-size: 12px;
}

.c-table tbody tr:nth-child(even){
  background-color: #f5f5f5;
}
.c-table td, th{
  border: none;
  padding: 13px ;
  border-left:1px solid #dee2e6;
  border-collapse: collapse;
}
.c-table td:first-child{
  border: none;
}

.actionBtn{
  border: 1px solid #E3E3EE;
  border-radius: 4px;
  background: #F6F6F9;
  padding: 10px;
}

.c-table tr:last-child{
  border-bottom:1px solid #dee2e6;
}

.c-table th{
  padding: 6px 12px ;
  border-collapse: collapse;
  white-space: nowrap;
  text-align: center;

}

table td {
  vertical-align: baseline !important;
  white-space: nowrap;
}
