<div class="container mb-4" *ngIf="esicType=='7A'">
    <div class="d-flex justify-content-end">
        <p>ESIC – Med – 7A</p>
    </div>
    <div class="header">
      <h4>Application for Acceptance for Medical Treatment</h4>
    </div>
    <div class="header">
      <h6>With reference to certificate of employment on reverse I apply for</h6>
    </div>
   

    <div class="content">
      <p>acceptance by Dr...............................................................</p>
      <p >With whom I was already registered.</p>
      <div class="d-flex align-items-between">
        <div class="mr">
            <p class="mr">Dated..........................</p>
        </div>
        <div>
            <p>Signature or Thumb Impression of the insured person.</p>
        </div>
      </div>
      <div class="header">
        <h6>I accept the person whose particulars are given on reverse on my list.</h6>
      </div>
   
      <div class="d-flex align-items-between">
        <div class="mr">

            <p>Dated...............</p>
        </div>
        <div>

            <p>Signature and Code No. of Doctor</p>
        </div>
    </div>
   

     
    </div>
  </div>
<div class="container mb-4" *ngIf="esicType=='37A'">
    <div class="d-flex justify-content-end">
        <p>ESIC MED– 37</p>
    </div>
    <div class="header">
      <h4>Employees’ State Insurance Corporation</h4>
    </div>
    <div class="header">
      <h6>Certificate of Re-employment / continuing Employment</h6>
      <h6>(To be issued only if condition (i) or (ii) below are satisfied.)</h6>
    </div>
   

    <div class="content">
      <p>Name and Address of the employer :     Ivan web solutions</p>
      <p >With whom I was already registered.</p>
      
      <div class="header">
        <h6> EN35-e Saltlake Saltlake Kolkata West Bengal 700028</h6>
      </div><br><br>
      <div class="header">
        <h6>Code No. TEST</h6>
        <h6>Sub code. 60410502200011099</h6>
      </div><br>
      <div class="header">
        <h6>L.O.</h6>
      </div><br>
      
      <p>Certified that Shri Debasis Jana</p>
      <p>s/o : demo</p>
      <div class="header">
        <h6>Ins. No. 6016975472</h6>
      </div><br>

      <ol type="i">
        <li>
          Has continued to be in employment/re-entered insurable employment on 12/24/2022
          and contributions have been payable/paid in respect of him/her during the
          contribution period which began on 01/10/2001.
        </li>
        <li>
          Has paid contribution for seventy eight days in the preceding contribution period
          which ended on 31/03/2001.
        </li>
      </ol>
      <div class="d-flex align-items-between">
        <div class="mr">

            <p>Dated         </p>
        </div>
        <div>

            <p> Signature and Designation</p>
        </div>
    </div>
      <p>NOTE :- This certificate is valid for 9 months from the date indicated under (i) or (ii) above.  </p>

     
    </div>
  </div>