
<companyuser-app-dashboard-header></companyuser-app-dashboard-header>

<div class="br-mainpanel">
    <div class="br-pageheader">
        <nav class="breadcrumb pd-0 mg-0 tx-12">
            <a class="breadcrumb-item" routerLink="/company">Dasboard</a>
            <a class="breadcrumb-item" href="javascript:void(0)">Approval</a>
            
            <a class="breadcrumb-item active">Extra Earning Deduction</a>
        </nav>
    </div>
    
    <div class="br-pagetitle">
        <i class="icon icon ion-wand"></i>
        <div>
            <h4>Extra Earning Deduction</h4>
            <!-- <p class="mg-b-0">Lorem Ipsum is simply dummy text of the printing and typesetting</p> -->
        </div>
    </div>

    <div class="br-pagebody">
        <div class="br-section-wrapper">
            
            <br>
            <companyuser-app-table-filter
            [searchKeyFilter]="true"
            [monthFilter]="true"
            [yearFilter]="true"
            (onFiltered)="fetchEmployees({ page: 1, filter: $event })"
          >
          </companyuser-app-table-filter>
          <div class="card bd-0">
            <div class="card-header">
              
                <div class="d-flex justify-content-end">
                  <button
                    #btn
                    [disabled]="!anyRowsChecked()"
                    (click)="bulkAction();"
                    type="button"
                    class="btn btn-block btn-info pd-x-12 h-100 mr-3"
                    style="font-size: 13px; min-width: 120px; max-width: 160px"
                  >
                    
                    Action
                  </button>
                 
                </div>
              <!-- </div> -->
            </div>
    
            <div class="card-body px-0 bd-t-0 pt-0 rounded-bottom">
              <!-- <app-custom-tableoption (onFilterChanged)="generateMasterSheet({page: 1, options: $event})"></app-custom-tableoption> -->
              <app-custom-tableoption
              [searchable]="false"
              (onFilterChanged)="paginationOptions.limit = +$event?.length ; fetchEmployees({ page:1})"
            ></app-custom-tableoption>
              <div class="table-responsive">
                <!-- <div class="table-responsive"> -->
                    <table class="table nowrap wd-100p table-bordered" style="border: 1px solid #eee;">
                        <thead>
                            <tr>
                                <th>
                                <label class="d-flex align-items-center mb-0" for="srNo">
                                    <input
                                      class="mb-0 mr-1"
                                      (change)="allRowsCheckboxChecked($event)"
                                      type="checkbox"
                                      name="item"
                                      id="srNo"
                                    />
                                    SL No.
                                  </label>
                                </th>
                                <th class="">Emp Code</th>
                                <th class="">Emp Name</th>
                                <th class="text-center">Head</th>
                                <th class="text-center">Month</th>
                                <th class="text-center">Year</th>
                                <th class="text-center">Amount</th>
                                <th class="text-center">Status</th>
                                <th class="text-center">Document</th>
                                <th class="text-center">Remarks</th>

                            </tr>
                        </thead>

                        <tbody>
                            <tr *ngFor="let employee of employees;let i=index;">
                                <td  class="text-center">
                                    <label
                                      class="d-flex align-items-center"
                                      [for]="'checkrow-' + (i + 1)"
                                      *ngIf="employee?.status=='pending' else no_check_box">
                                    
                                      <input
                                        type="checkbox"
                                        class="mr-2"
                                        [attr.checked]="
                                        employee?.checked == true ? 'checked' : null
                                        "
                                        id="checkrow-{{ i + 1 }}"
                                        [attr.data-checkbox-id]="employee?._id"
                                        (click)="rowCheckBoxChecked($event, employee)"
                                      />
                                      {{
                                        Global.getTableSerialNumber(
                                          i,
                                          paginationOptions.limit,
                                          paginationOptions.page
                                        )
                                      }}
                                    </label>
                                    <ng-template #no_check_box>
                                      {{
                                        Global.getTableSerialNumber(
                                          i,
                                          paginationOptions.limit,
                                          paginationOptions.page
                                        )
                                      }}
                                    </ng-template>
                                  </td>
                              
                                <td>{{ employee.emp_id }}</td>
                                <td>{{ employee?.employees[0]?.emp_first_name }} {{ employee?.employees[0]?.emp_last_name }}</td>
                                <td class="text-center" >{{employee?.extra_earning_head?.head_name}}</td>
                                <td class="text-center" >
                                  {{employee?.month?.description}}  
                                </td>
                                <td class="text-center">
                                    {{employee?.wage_year}} 
                                </td>
                                <td class="text-center">
                                    {{employee?.amount | currency:'₹'}} 
                                </td>
                                <td>
                                  {{employee?.status | titlecase}}
                                </td>
                                <td class="text-center">
                                  <a *ngIf="employee?.document;else no_image" href="{{Global.BACKEND_URL}}/{{employee?.document}}" target="_blank"> Document  &nbsp;</a>
                                  <ng-template #no_image>
                                   N/A   
                                  </ng-template>
                              </td>
                              <td class="text-center">
                                <button   class="btn btn-primary btn-icon mx-1" data-toggle="tooltip"  data-placement="top" title="Remarks" (click)="openRemark(employee);">
                                  <div style="width:25px; height:25px;"><i class="fa fa-eye"></i></div>
                              </button>
                              </td>
                            </tr>

                            <tr *ngIf="employees.length == 0">
                                <td class="text-center" colspan="8">No records found</td>
                            </tr>
                        </tbody>
                    </table>
                <!-- </div> -->
              </div>
    
             
            </div>
          </div>
          <app-custom-pagination [rows]="employees" [paginationOptions]="paginationOptions" (onPageClicked)="fetchEmployees({'page':$event})"></app-custom-pagination>

           

        </div>
    </div>

    <!-- Add New Expense Modal -->
    <button id="addEmployeeExpenseModalButton" [hidden]="true" data-toggle="modal" data-target="#addEmployeeExpenseModal"></button>
    <div id="addEmployeeExpenseModal" tabindex='-1' class="modal fade">
        <div class="modal-dialog modal-dialog-centered modal-md" role="document">
            <div class="modal-content bd-0 tx-14">
                <div class="modal-header pd-y-20 pd-x-25">
                    <h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">Add Expense <small>{{ addEmployeeExpenseForm.value?.emp_id }}</small></h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <form [formGroup]="addEmployeeExpenseForm">
                    <div class="modal-body pd-25">
                        <div class="row">
                            <div class="col-lg-12 mb-3">
                                <ngx-select-dropdown formControlName="head_id" [options]="earningHeadsMaster.concat(employeeEarningHeadMaster)" class="form-control p-1" [config]="{search:true, placeholder: 'Select One', displayKey: 'head_name'}"></ngx-select-dropdown>
                            </div>

                            <div class="col-lg-12 mb-3">
                                <input class="form-control" type="number" placeholder="Enter Amount" formControlName="amount">
                            </div>
                        </div>
                    </div>
                    <div class=" modal-footer">
                        <button type="button" [disabled]="!addEmployeeExpenseForm.valid" (click)="addEmployeeExpense($event)" class="btn btn-primary tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium">
                          <span>Update</span>
                      </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <companyuser-extra-deduction-headmaster [initEarningHeadEntry]="extraDeductionHeadMasterEventSubject.asObservable()" [earningStatusMaster]="earningStatusMaster" (headMasterSubmitted)="fetchEarningHeads()"></companyuser-extra-deduction-headmaster>

    <companyuser-app-dashboard-footer></companyuser-app-dashboard-footer>
</div>
<button
    id="TemplateModalOpen"
    data-toggle="modal"
    data-target="#settingsTemplateModal"
    [hidden]="true"
  >
    
  </button>
<div
id="settingsTemplateModal"
tabindex="-1"
class="modal fade effect-slide-in-right"
>
<div class="modal-dialog  modal-dialog-centered" role="document">
  <div class="modal-content tx-size-sm">
    <div class="modal-header pd-x-20">
      <h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">
        Action
      </h6>
      <button
        type="button"
        class="close"
        data-dismiss="modal"
        aria-label="Close"
        (click)="clearFormData()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form id="settingsTemplateForm" [formGroup]="approveForm">
      <div class="modal-body pd-20">
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-12">
               
                <select  class="form-control error"  formControlName="status">
                  <option value="">Select Approval Status</option>
                  <option value="approved">Approve</option>
                  <option value="rejected">Reject</option>

                </select>

                <p
                  class="mt-1 text-danger"
                  *ngIf="
                  approveForm.controls.status.hasError(
                      'required'
                    ) &&
                    (approveForm.controls.status.dirty ||
                    approveForm.controls.status.touched)
                  "
                >
                  This field is required
                </p>
              </div>
             </div>
            

          
          </div>
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-12" style="padding-top: 15px;">
                <textarea
                  type="text"
                  class="form-control error"
                  placeholder="Remarks"
                  formControlName="note"
                ></textarea>
               
  
               
              </div>
            </div>
          </div>
          
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn text-uppercase btn-secondary tx-size-xs"
          data-dismiss="modal"
        >
          Close
        </button>
        <button
          class="btn text-uppercase btn-primary tx-size-xs"
          type="button"
          (click)="bulkApprove($event)"
        >
          <span>Submit</span>
        </button>
      </div>
    </form>
  </div>
</div>
</div>

<button id="remarkmodalbutton" [hidden]="true" data-toggle="modal" data-target="#remarkmodal"></button>
<div id="remarkmodal" tabindex='-1' class="modal fade effect-slide-in-right">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content tx-size-sm">
            <div class="modal-header pd-x-20">
                <h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">View Remarks</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body pd-20">
             {{rowDetail.company_remark ?? 'N/A'}}   

            </div>
            <div class="modal-footer">
                <button type="button" class="btn text-uppercase btn-secondary tx-size-xs" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>