<header>
        <nav class="navbar navbar-expand-lg">
            <div class="container">
              <a class="navbar-brand" routerLink="/"><img src="assets/img/landing-page/logo.png" alt=""/></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse d-sm-block" id="navbarSupportedContent">
                <ul class="navbar-nav m-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/public">Features</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/public/membership">Membership</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link " routerLink="/public/about">About</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link " routerLink="/public/contact">Contact us</a>
                  </li>
                </ul>
                <div class="d-flex h-right">
                  <a class="btn active" routerLink="/login">Login</a>
                  <!-- <a class="btn active">Register</a> -->
                </div>
              </div>
              <div class="d-md-none d-lg-none d-sm-block" >
                <ul class="navbar-nav m-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/public">Features</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/public/membership">Membership</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link " routerLink="/public/about">About</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link " routerLink="/public/contact">Contact us</a>
                  </li>
                </ul>
                <div class="d-flex h-right">
                  <a class="btn active" routerLink="/login">Login</a>
                  <!-- <a class="btn active">Register</a> -->
                </div>
              </div>
            </div>
          </nav>
</header>
