table th {
  text-align: center;
  font-weight: 600;
  white-space: nowrap;
  padding: 14px 10px;
  height: 42px;
  vertical-align: middle;
}

 table th, td {
  padding: 14px 10px;
  font-weight: 600;
  color: #000;
  box-shadow: 0 2px 3px #d5d5d5;
  font-size: 13px;
  line-height: normal;
  font-family: var(--font-roboto);
}

 table {
  border-collapse: separate;
  border-spacing: 4px;
  /* margin-top: -4px; */
  /* padding: 0 5px 5px 5px; */
}
.finacial-tbl table tr:first-child td {
  background: #FFFFFF;
}
.finacial-tbl table tr td:nth-child(odd) {
  background-color: #E3EBEB;
}
.finacial-tbl table tr:first-child th {
  background: #E3EBEB;
}
.finacial-tbl table tr th:nth-child(even) {
  background-color: #EDF2F2;
}

.c-table {
  /* margin:10px  0px; */
  box-shadow: 1px 0 0 0 #000, 0 1px 0 0 #000, 1px 1px 0 0 #000,
    1px 0 0 0 #000 inset, 0 1px 0 0 #000 inset;
}

.c-table .c-tr .c-td, .c-th {
  box-shadow: 1px 0 0 0 #000, 0 1px 0 0 #000, 1px 1px 0 0 #000,
    1px 0 0 0 #000 inset, 0 1px 0 0 #000 inset;
  padding: 6px 12px;
  width: 25%;
  display: inline-block;
  vertical-align: middle;
}

.c-th{
  width: 100%;
  display: flex;
  align-items: center;
  vertical-align: middle;
  background-color: rgba(179, 179, 179, 0.822);
}
.c-td{
  font-size: 13px;
  white-space: nowrap;
}

.c-table .c-tr label {
  margin: 0px;
  display: flex;
}
