<subadmin-app-dashboard-header></subadmin-app-dashboard-header>

<div class="br-mainpanel">
    <div class="br-pageheader">
        <nav class="breadcrumb pd-0 mg-0 tx-12">
            <a class="breadcrumb-item" [routerLink]="[]">Dashboard</a>
            <a class="breadcrumb-item active">Home</a>
        </nav>
    </div>

    <div class="br-pagetitle">
        <i class="icon icon ion-ios-speedometer"></i>
        <div>
            <h4>Dashboard</h4>
            <p class="mg-b-0">Overall Statistics </p>
        </div>
    </div>

    <div class="br-pagebody pd-x-20 pd-sm-x-30">
        <div class="row no-gutters widget-1 shadow-base">
            <div class="col-sm-6 col-lg-3">
                <div class="card">
                    <div class="card-header">
                        <h6 class="card-title">Today's Sales</h6>
                        <a href=""><i class="icon ion-android-more-horizontal"></i></a>
                    </div>
                    <div class="card-body">
                        <span id="spark1">5,3,9,6,5,9,7,3,5,2</span>
                        <span>₹1,850</span>
                    </div>
                    <div class="card-footer">
                        <div>
                            <span class="tx-11">Credit Sales</span>
                            <h6 class="tx-inverse">₹2,210</h6>
                        </div>
                        <div>
                            <span class="tx-11">Gross Sales</span>
                            <h6 class="tx-danger">₹320</h6>
                        </div>
                    </div>
                </div>
            </div>
            <!-- col-3 -->
            <div class="col-sm-6 col-lg-3 mg-t-1 mg-sm-t-0">
                <div class="card">
                    <div class="card-header">
                        <h6 class="card-title">This Week's Sales</h6>
                        <a href=""><i class="icon ion-android-more-horizontal"></i></a>
                    </div>
                    <!-- card-header -->
                    <div class="card-body">
                        <span id="spark2">2,8,7,8,2,6,5,3,5,2</span>
                        <span class="tx-medium tx-inverse tx-32">₹3,324</span>
                    </div>
                    <!-- card-body -->
                    <div class="card-footer">
                        <div>
                            <span class="tx-11">Credit Sales</span>
                            <h6 class="tx-inverse">₹5,471</h6>
                        </div>
                        <div>
                            <span class="tx-11">Gross Sales</span>
                            <h6 class="tx-danger">₹1,988</h6>
                        </div>
                    </div>
                    <!-- card-footer -->
                </div>
                <!-- card -->
            </div>
            <!-- col-3 -->
            <div class="col-sm-6 col-lg-3 mg-t-1 mg-lg-t-0">
                <div class="card">
                    <div class="card-header">
                        <h6 class="card-title">This Month's Sales</h6>
                        <a href=""><i class="icon ion-android-more-horizontal"></i></a>
                    </div>
                    <!-- card-header -->
                    <div class="card-body">
                        <span id="spark3">8,6,5,9,8,4,9,3,5,9</span>
                        <span>₹12,324</span>
                    </div>
                    <!-- card-body -->
                    <div class="card-footer">
                        <div>
                            <span class="tx-11">Credit Sales</span>
                            <h6 class="tx-inverse">₹18,433</h6>
                        </div>
                        <div>
                            <span class="tx-11">Gross Sales</span>
                            <h6 class="tx-danger">₹3,314</h6>
                        </div>
                    </div>
                    <!-- card-footer -->
                </div>
                <!-- card -->
            </div>
            <!-- col-3 -->
            <div class="col-sm-6 col-lg-3 mg-t-1 mg-lg-t-0">
                <div class="card">
                    <div class="card-header">
                        <h6 class="card-title">Overall Sales</h6>
                        <a href=""><i class="icon ion-android-more-horizontal"></i></a>
                    </div>
                    <!-- card-header -->
                    <div class="card-body">
                        <span id="spark4">8,3,9,6,3,7,1,3,8,5</span>
                        <span>₹32,324</span>
                    </div>
                    <!-- card-body -->
                    <div class="card-footer">
                        <div>
                            <span class="tx-11">Credit Sales</span>
                            <h6 class="tx-inverse">₹56,433</h6>
                        </div>
                        <div>
                            <span class="tx-11">Gross Sales</span>
                            <h6 class="tx-danger">₹15,354</h6>
                        </div>
                    </div>
                    <!-- card-footer -->
                </div>
                <!-- card -->
            </div>
            <!-- col-3 -->
        </div>
        <!-- row -->

        <div class="row row-sm mg-t-20">
            <div class="col-lg-6">
                <div class="widget-2">
                    <div class="card shadow-base overflow-hidden">
                        <div class="card-header">
                            <h6 class="card-title">Company Joined</h6>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <a href="#" class="btn active">Today</a>
                                <a href="#" class="btn">This Week</a>
                                <a href="#" class="btn">This Month</a>
                            </div>
                        </div>
                        <!-- card-header -->
                        <div class="card-body pd-0 bd-color-gray-lighter">
                            <div class="row no-gutters tx-center">
                                <div class="col-12 col-sm-4 pd-y-20 tx-left">
                                    <p class="pd-l-20 tx-12 lh-8 mg-b-0">Note: Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula...</p>
                                </div>
                                <!-- col-4 -->
                                <!-- <div class="col-6 col-sm-2 pd-y-20">
                <h5 class="tx-inverse tx-lato tx-bold mg-b-5">1,343</h5>
                <p class="tx-12 mg-b-0">Views</p>
              </div> -->
                                <!-- col-2 -->
                                <!-- <div class="col-6 col-sm-2 pd-y-20 bd-l bd-color-gray-lighter">
                <h5 class="tx-inverse tx-lato tx-bold mg-b-5">102</h5>
                <p class="tx-12 mg-b-0">Likes</p>
              </div> -->
                                <!-- col-2 -->
                                <!-- <div class="col-6 col-sm-2 pd-y-20 bd-l bd-color-gray-lighter">
                <h5 class="tx-inverse tx-lato tx-bold mg-b-5">343</h5>
                <p class="tx-12 mg-b-0">Comments</p>
              </div> -->
                                <!-- col-2 -->
                                <!-- <div class="col-6 col-sm-2 pd-y-20 bd-l bd-color-gray-lighter">
                <h5 class="tx-inverse tx-lato tx-bold mg-b-5">960</h5>
                <p class="tx-12 mg-b-0">Shares</p>
              </div> -->
                                <!-- col-2 -->
                            </div>
                            <!-- row -->
                        </div>
                        <!-- card-body -->
                        <div class="card-body pd-0">
                            <div id="rickshaw1" class="wd-100p ht-150 rounded-bottom"></div>
                        </div>
                        <!-- card-body -->
                    </div>
                    <!-- card -->
                </div>
                <!-- widget-2 -->
            </div>
            <!-- col-6 -->
            <div class="col-lg-6 mg-t-20 mg-lg-t-0">
                <div class="widget-2">
                    <div class="card shadow-base overflow-hidden">
                        <div class="card-header">
                            <h6 class="card-title">Credit Statistics</h6>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <a href="#" class="btn active">Today</a>
                                <a href="#" class="btn">This Week</a>
                                <a href="#" class="btn">This Month</a>
                            </div>
                        </div>
                        <!-- card-header -->
                        <div class="card-body pd-0 bd-color-gray-lighter">
                            <div class="row no-gutters tx-center">
                                <div class="col-12 col-sm-4 pd-y-20 tx-left">
                                    <p class="pd-l-20 tx-12 lh-8 mg-b-0">Note: Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula...</p>
                                </div>
                                <!-- col-4 -->
                                <!-- <div class="col-6 col-sm-2 pd-y-20">
                <h5 class="tx-inverse tx-lato tx-bold mg-b-5">1,343</h5>
                <p class="tx-12 mg-b-0">Views</p>
              </div> -->
                                <!-- col-2 -->
                                <!-- <div class="col-6 col-sm-2 pd-y-20 bd-l bd-color-gray-lighter">
                <h5 class="tx-inverse tx-lato tx-bold mg-b-5">102</h5>
                <p class="tx-12 mg-b-0">Likes</p>
              </div> -->
                                <!-- col-2 -->
                                <!-- <div class="col-6 col-sm-2 pd-y-20 bd-l bd-color-gray-lighter">
                <h5 class="tx-inverse tx-lato tx-bold mg-b-5">343</h5>
                <p class="tx-12 mg-b-0">Comments</p>
              </div> -->
                                <!-- col-2 -->
                                <!-- <div class="col-6 col-sm-2 pd-y-20 bd-l bd-color-gray-lighter">
                <h5 class="tx-inverse tx-lato tx-bold mg-b-5">960</h5>
                <p class="tx-12 mg-b-0">Shares</p>
              </div> -->
                                <!-- col-2 -->
                            </div>
                            <!-- row -->
                        </div>
                        <!-- card-body -->
                        <div class="card-body pd-0">
                            <div id="rickshaw2" class="wd-100p ht-150"></div>
                        </div>
                        <!-- card-body -->
                    </div>
                    <!-- card -->
                </div>
                <!-- widget-2 -->
            </div>
            <!-- col-6 -->
        </div>
        <!-- row -->

        <div class="bg-gray-300 ht-100 d-flex align-items-center justify-content-center mg-t-20">
            <h6 class="tx-uppercase mg-b-0 tx-roboto tx-normal tx-spacing-2">More Coming Soon...</h6>
        </div>
    </div>

    <subadmin-app-dashboard-footer></subadmin-app-dashboard-footer>
</div>