<div class="tabheader">
    <h5>Training Details</h5>
    <a class="editicon" href="javascript:;" *ngIf="!isNew" (click)="isNew=!isNew"><i class="fas fa-plus"></i> New</a>
</div>
<div class="table-main">
    <div class="ed-details" *ngIf="isNew">
      
        <div class="table-responsive">
            <form [formGroup]="trainingForm">
            <table class="table table-hover mb-2">
                <tbody >
                    <tr>
                        <th>Type</th>
                        <td>
                            <input class="form-control" type="text" formControlName="training_type">
                            <p class="error-element" *ngIf="!Global.isInputRuleValid(trainingForm, 'training_type', 'required')">This field is required</p>
                        </td>
                    </tr>
                  
                    <tr>
                        <th>Training File Image</th>
                        <td>
                            <input class="form-control" type="file"
                            accept="image/*" formControlName="training_file_image" (change)="onFileChanged($event, trainingForm, 'training_file_image', 'training_file_preview')">

                                <p class="error-element" *ngIf="net_uploaded_size>=max_upload_limit">Max Upload Size Exceed</p>
                                <p class="error-element" *ngIf="trainingForm.get('training_file_image')?.hasError('fileSize')">File size exceeds {{ trainingForm.get('training_file_image').getError('maxSize') }} KB.</p>
                           

                            <p class="error-element" *ngIf="trainingForm.controls.training_file_image.hasError('required') && ( trainingForm.controls.training_file_image.dirty || trainingForm.controls.training_file_image.touched )">This field is required</p>
                        </td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>
                            <textarea class="form-control" formControlName="description"></textarea>
                            <p class="error-element" *ngIf="!Global.isInputRuleValid(trainingForm, 'description', 'required')">This field is required</p>
                        </td>
                    </tr>
                    <tr>
                        <th>Comment</th>
                        <td>
                            <textarea class="form-control" formControlName="comments"></textarea>

                            <p class="error-element" *ngIf="!Global.isInputRuleValid(trainingForm, 'comments', 'required')">This field is required</p>
                        </td>
                    </tr>
                   
                </tbody>
    
            </table>
            <div class="text-right">
                <a class="editicon ml-auto"  href="javascript:void(0)" (click)="isNew=!isNew"> Cancel</a>
                <a   href="javascript: void(0)" (click)="crteatetrainingDetails($event)" class="editicon apply-btn">Save</a>   
            </div>
         </form>
        </div>
      
    </div>     
 <ng-container *ngIf="employee_details?.employee_details?.training?.length > 0; else noTableFound">
    <form [formGroup]="trainingeditForm">
    <ng-container formArrayName="template_data">
    <div class="ed-details" *ngFor="let templateDataControl of getTemplateRows('template_data'); let i = index" [formGroupName]="i">
        <div class="table-responsive">
            <table class="table table-hover mb-2" >
                <tbody >
                    <tr>
                        <th>Type</th>
                        <td>
                            <input class="form-control" [ngClass]="{'readonlytext':trainingeditForm.get('template_data')['controls'][i].value.isReadOnly==true}" [readOnly]="trainingeditForm.get('template_data')['controls'][i].value.isReadOnly" type="text" formControlName="training_type">
                        </td>
                    </tr>
                  
                    <tr>
                        <th>Training File Image</th>
                        <td>
                            
                            <input class="form-control" *ngIf="!trainingeditForm.get('template_data')['controls'][i].value.training_file_image else  training_file_preview"
                            [disabled]="trainingeditForm.get('template_data')['controls'][i].value.isReadOnly
                                        || net_uploaded_size>=max_upload_limit
                            " 
                            
                            type="file" accept="image/*"  (change)="test($event,i)">
                            <ng-container *ngIf="!trainingeditForm.get('template_data')['controls'][i].value.isReadOnly">
                                <p class="error-element" *ngIf="net_uploaded_size>=max_upload_limit">Max Upload Size Exceed</p>
                                <p class="error-element" *ngIf="trainingeditForm.controls.template_data.controls[i].controls.training_file_preview?.hasError('fileSize');">File size exceeds {{trainingeditForm.controls.template_data.controls[i].controls.training_file_preview.getError('maxSize') }} KB.</p>
                            </ng-container>
                           



                            <ng-template #training_file_preview>
                                <a class="attachbtn" href="{{Global.BACKEND_URL}}/{{trainingeditForm.get('template_data')['controls'][i].value.training_file_image}}" target="_blank">
                                    <img src="assets/img/employee-panel/attch-file-icon.png"> 
                                </a>      
                            </ng-template>
                        </td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>
                            <textarea class="form-control" [ngClass]="{'readonlytext': trainingeditForm.get('template_data')['controls'][i].value.isReadOnly==true}" [readOnly]="trainingeditForm.get('template_data')['controls'][i].value.isReadOnly" formControlName="description"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <th>Comment</th>
                        <td>
                            <textarea class="form-control" [ngClass]="{'readonlytext': trainingeditForm.get('template_data')['controls'][i].value.isReadOnly==true}" [readOnly]="trainingeditForm.get('template_data')['controls'][i].value.isReadOnly" formControlName="comments"></textarea>

                        </td>
                    </tr>
                  
                   
                    
                </tbody>
    
            </table> 
        </div>
        <div class="text-right">
            <ng-container *ngIf="trainingeditForm.get('template_data')['controls'][i].value.isReadOnly else save_btn_area">
            <button class="btn-edtstyle btn editicon" (click)="togglereadOnly(i)">
                <i class="fas fa-pencil-alt"></i>
            </button>
            <!-- <button class="btn-edtstyle btn editicon">
                <i class="fas fa-trash text-danger"></i>
            </button> -->
            </ng-container>
            <ng-template #save_btn_area>
            <a class="editicon ml-auto" (click)="togglereadOnly(i,true)"> Cancel</a>
            <a  href="javascript: void(0)" class="editicon apply-btn" (click)="updatetrainingDetails($event,i)">Save</a>
            </ng-template>
        </div>
    </div>  
    </ng-container>
    </form>
 </ng-container>   
 <ng-template #noTableFound>
    <div class="ed-details">
        <div class="table-responsive">
            <table class="table table-hover mb-2">
                <tbody >
                  
                    <tr>
                        <td colspan="100%" class="text-center">No Training Found</td>

                    </tr>
                </tbody>
    
            </table>
        </div>
       
    </div>    
 </ng-template>
</div>